@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <!-- Sverige Card -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card bottom-shape bg-secondary pt-4 pb-5">
                    <div class="card-body text-center">
                        <img src="~/image/Sverige.jpg" alt="Sverige Bild" class="img-fluid mb-4" />
                        <h4 class="text-white">Sverige</h4>
                        <p class="text-light mb-4">Dom rikaste i Sverige listade </p>
                        <ul class="list-unstyled mb-5">
                            <li class="text-white mb-3">Enkel överblick</li>
                            <li class="text-white mb-3">detaljerad info</li>
                            <li class="text-white mb-3">24/7 info</li>
                        </ul>
                        <a asp-page="/RichestCustomersByCountry" asp-route-countryCode="SE" class="btn btn-outline-light">Sverige</a>

                    </div>
                </div>
            </div>
            <!-- Norge Card -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card bottom-shape bg-secondary pt-4 pb-5">
                    <div class="card-body text-center">
                        <img src="~/image/Norge.jpg" alt="Norge Bild" class="img-fluid mb-4" />
                        <h4 class="text-white">Norge</h4>
                        <p class="text-light mb-4">Dom rikaste i Norge listade</p>
                        <ul class="list-unstyled mb-5">
                            <li class="text-white mb-3">Enkel överblick</li>
                            <li class="text-white mb-3">detaljerad info</li>
                            <li class="text-white mb-3">24/7 info</li>
                        </ul>
                        <a asp-page="/RichestCustomersByCountry" asp-route-countryCode="NO" class="btn btn-outline-light">Norge</a>

                    </div>
                </div>
            </div>
            <!-- Finland Card -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card bottom-shape bg-secondary pt-4 pb-5">
                    <div class="card-body text-center">
                        <img src="~/image/Finland.jpg" alt="Finland Bild" class="img-fluid mb-4" />
                        <h4 class="text-white">Finland</h4>
                        <p class="text-light mb-4">Dom rikaste i Finland listade </p>
                        <ul class="list-unstyled mb-5">
                            <li class="text-white mb-3">Enkel överblick</li>
                            <li class="text-white mb-3">detajerad info</li>
                            <li class="text-white mb-3">24/7 info</li>
                        </ul>
                        <a asp-page="/RichestCustomersByCountry" asp-route-countryCode="FI" class="btn btn-outline-light">Finland</a>
                    </div>
                </div>
            </div>
            <!-- Danmark Card -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 countrybox">
                <div class="card bottom-shape bg-secondary pt-4 pb-5">
                    <div class="card-body text-center">
                        <img src="~/image/Danmark.jpg" alt="Finland Bild" class="img-fluid mb-4" />
                        <h4 class="text-white">Danmark</h4>
                        <p class="text-light mb-4">Dom rikaste i Danmark listade </p>
                        <ul class="list-unstyled mb-5">
                            <li class="text-white mb-3">Enkel överblick</li>
                            <li class="text-white mb-3">detaljerad info</li>
                            <li class="text-white mb-3">24/7 info</li>
                        </ul>
                        <a asp-page="/RichestCustomersByCountry" asp-route-countryCode="DK" class="btn btn-outline-light">Danmark</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
